./deps/libevent
./deps/googletest
./deps/jsoncpp
build/*
cmake-build-*/*
.vscode/*
.DS_Store
.idea
.ccls-cache
compile_commands.json
./.name
./miniob.iml
./vcs.xml
./workspace.xml
./modules.xml
GRTAGS
GPATH
GTAGS
#*#

docs/how_to_build.md
docs/how_to_dev_miniob_by_docker_on_windows.md
docs/how_to_dev_miniob_by_vscode.md
docs/how-to-dev-using-docker.md
docs/miniob_topics.md
docs/miniob-introduction.md
docs/miniob-output-convention.md
docs/miniob-sql-parser.md
docs/images/miniob-introduction-running-the-client.png
docs/images/miniob-introduction-running-the-server.png
docs/images/miniob-introduction-sql-flow.png
docs/images/vscode_break_point.png
docs/images/vscode_build_ouput.png
docs/images/vscode_C++_plugs_detail.png
docs/images/vscode_cmake.png
docs/images/vscode_debug_miniob.png
docs/images/vscode_search_plugs.png
docs/images/windows-enable-disable-functions.png
docs/images/windows-enable-service.png
docs/images/windows-functions.png
docs/images/windows-search-service.png
docs/images/windows-terminal-mutli-shell.png
docs/images/windows-terminal.png
docs/images/windows-wsl.png
docs/lectures/copyright.md
docs/lectures/index.md
docs/lectures/lecture-1.md
docs/lectures/lecture-2.md
docs/lectures/lecture-3.md
docs/lectures/lecture-4.md
docs/lectures/lecture-5.md
docs/lectures/lecture-6.md
docs/lectures/references.md
docs/lectures/images/1-1.png
docs/lectures/images/1.3.1.3-1.png
docs/lectures/images/1.3.1.3-2.png
docs/lectures/images/2-1.png
docs/lectures/images/2-2.png
docs/lectures/images/2-3.png
docs/lectures/images/2-4.png
docs/lectures/images/2-5.png
docs/lectures/images/2-6.png
docs/lectures/images/2-7.png
docs/lectures/images/2-8.png
docs/lectures/images/3-1.png
docs/lectures/images/3-2-a.png
docs/lectures/images/3-2-b.png
docs/lectures/images/3-2-c.png
docs/lectures/images/3-3-a.png
docs/lectures/images/3-3-b.png
docs/lectures/images/3-3-c.png
docs/lectures/images/3-4.png
docs/lectures/images/3-5.png
docs/lectures/images/3-6-a.png
docs/lectures/images/3-6-b.png
docs/lectures/images/3-7-a.png
docs/lectures/images/3-7-b.png
docs/lectures/images/3-7-c.png
docs/lectures/images/4-1.png
docs/lectures/images/4-2.png
docs/lectures/images/4-3.png
docs/lectures/images/4-4.png
docs/lectures/images/4-5.png
docs/lectures/images/4-6.png
docs/lectures/images/5-1.png
docs/lectures/images/5.2.1.1-1.png
docs/lectures/images/5.2.1.1-2.png
docs/lectures/images/5.2.1.1-3.png
docs/lectures/images/5.2.1.1-4.png
docs/lectures/images/5.2.2.1-1.png
docs/lectures/images/5.3.1.1-4.png
docs/lectures/images/6-1.png
docs/lectures/images/6-2.png
docs/lectures/images/6-3.png
docs/lectures/images/6-4.png
test/case/result/basic.result
test/case/result/primary-aggregation-func.result
test/case/result/primary-complex-sub-query.result
test/case/result/primary-date.result
test/case/result/primary-drop-table.result
test/case/result/primary-expression.result
test/case/result/primary-group-by.result
test/case/result/primary-insert.result
test/case/result/primary-join-tables.result
test/case/result/primary-multi-index.result
test/case/result/primary-null.result
test/case/result/primary-order-by.result
test/case/result/primary-select-meta.result
test/case/result/primary-select-tables.result
test/case/result/primary-simple-sub-query.result
test/case/result/primary-text.result
test/case/result/primary-unique.result
test/case/result/primary-update.result
test/case/result_tmp/basic.result.tmp
test/case/result_tmp/primary-aggregation-func.result.tmp
test/case/result_tmp/primary-complex-sub-query.result.tmp
test/case/result_tmp/primary-date.result.tmp
test/case/result_tmp/primary-drop-table.result.tmp
test/case/result_tmp/primary-expression.result.tmp
test/case/result_tmp/primary-group-by.result.tmp
test/case/result_tmp/primary-insert.result.tmp
test/case/result_tmp/primary-join-tables.result.tmp
test/case/result_tmp/primary-multi-index.result.tmp
test/case/result_tmp/primary-null.result.tmp
test/case/result_tmp/primary-order-by.result.tmp
test/case/result_tmp/primary-select-meta.result.tmp
test/case/result_tmp/primary-select-tables.result.tmp
test/case/result_tmp/primary-simple-sub-query.result.tmp
test/case/result_tmp/primary-text.result.tmp
test/case/result_tmp/primary-unique.result.tmp
test/case/result_tmp/primary-update.result.tmp
